%strong.underline
  Restaurant Briefs:
- @shifts.each do |shift|
  - r = shift.restaurant
  %p
    %strong 
      #{r.name}:
    = r.brief
    %br/
    %strong 
      Location:
    = r.location.full_address