%strong.underline
  Reminders:
%ul
  %li
    Don’t forget to text 347-460-6484 2 hrs before your shift
  %li
    Please arrive 15 minutes before your scheduled shift
  %li
    Please note that the DOT requires the use of helmets, front white light, back red light and a bell and/or whistle.