- it = 'you'
- its = 'your'
- same_path = "https://obscure-anchorage-7682.herokuapp.com/conflict/batch_clone"
- diff_path = "https://obscure-anchorage-7682.herokuapp.com/conflict/batch_new#{@new_batch_query}"

%p
  Please submit your scheduling conflicts for next week 
  %strong
    by Thursday at 12pm.

= render 'conflicts/batch_choice', it: it, its: its

= render 'mailer/signature'