%p
  %strong
    Please submit your scheduling conflicts for next week by Thursday at 12pm
  to be included in next week's schedule.

%p
  Last week you had the following scheduling conflicts:
= render 'conflicts/review_list'

%p
  = link_to 'Click this link', @link
  to submit your conflicts for next week.

= render 'mailer/signature'