%p Hi there! I'm Tess Cohen, Account Manager for BK Shift. I'll be helping to handle your schedule and feedback, alongside our Account Manager, Justin Lewis. We are looking forward to working with you! :)
%p
  In order to start receiving shifts through the service, you need to:
%ol
  %li
    %strong
      = link_to "Agree to BK Shift's Terms of Employment", @toe_link
  %li
    %strong Respond to this email to indicate you have read and understand the following important information about working with BK Shift:
%p &nbsp;
%p
  %span{:style => "text-decoration: underline;"}
    %strong POINT SYSTEM
%p BK Shift assigns its riders to restaurants based on a point system measuring rider performance. This guarantees that the riders who have earned it will get the best shifts.
%ul
  %li
    %p
      %strong The point system rewards:
  %ul
    %li
      %p takingemergency shifts(WE LOVE YOU IF YOU DO THIS!) [+15 points]
    %li
      %p compliments from restaurants [+10 points]
    %li
      %p responding to shift assignments [+5/+10 points, depending on notice]
    %li
      %p working all confirmed shifts (no canceling) [+ 5 points]
    %li
      %p being reported as fast [+5 points]
%ul
  %li
    %p
      %strong The point system penalizes:
  %ul
    %li
      %p no-call no-show (WORST THING YOU CAN DO! You will be placed on emergency-only status.) [-20 points]
    %li
      %p being late [-5 points]
    %li
      %p being late without calling to let us know [- 10 points]
    %li
      %p cancelling confirmed shifts [-5/-10 points, depending on notice]
    %li
      %p complaints from restaurant [-10 points]
    %li
      %p not responding to shift assignments [-5 points]
    %li
      %p being reported as slow [-5 points]
%p &nbsp;
%p
  %span{:style => "text-decoration: underline;"}
    %strong CHECK-IN POLICY
%p To ensure our riders arrive on time and do not unexpectedly no-show, we have instituted the following check-in policy:
%p Please text347-640-64842 hours* prior to your shift's start time to let us know you will be there on time. If we don't hear from you after 1.5 hours, we will text you. If we still haven't heard from you 1 hour before your shift is scheduled to start, we will assume you are not working and will fill it with someone else. Even if you do show up, preference will be given to the emergency rider.
%p *= for shifts that start earlier than 9a, please text your confirmation before going to bed the night before
%p &nbsp;
%p
  %strong WEEKLY SCHEDULE
%p
  %strong Wednesday afternoon:
  Tess sends you availability request email.
  %br/
  = succeed "You" do
    %strong Thursday afternoon:
  respond to availability request email.
  %br/
  %strong Friday afternoon:
  Tess emails your upcoming week&rsquo;s schedule.
  %br/
  %strong Before Saturday afternoon:
  Respond to confirm your schedule.
  %br/
  = succeed "Check" do
    %strong Friday-Sunday:
  your email to see if you have been assigned extra shifts.
  %br/
  %strong Monday-Sunday:
  Be available by text, phone, and email for emergency shifts.
%p &nbsp;
%p
  %span{:style => "text-decoration: underline; background-color: #ffff00;"}
    %strong IMPORTANT, PLEASE REVIEW: DOT REQUIREMENTS
%p This is useful information. Also information that can help you get more work. Some of our busy restaurants require that you follow the following DOT rules in order to get shifts with them.
%p &nbsp;
%p For your safety, and for the safety of others, please review Department of Transportation (DOT) requirements below:
%p &nbsp;
%p DOT has recently passed relevant legislature that directly relates to your work. To put it simply they require you to do the following:
%p &nbsp;
%p 1) Ride with a helmet
%p 2) Ride with a front white light
%p 3) Ride with a back red light
%p 4) Have a bell/whistle
%p 5) Ride with a reflective vest (should be provided by the restaurant).
%p &nbsp;
%p Even though technically they require that the restaurants provide you with this equipment, you must supply it yourself working with BK Shift (some restaurants may provide it for you already).
%p &nbsp;
%p Please review the online course at:
%p
  %a{:href => "http://www.nyc.gov/html/dot/downloads/pdf/commercial-bicyclist-safety-course.pdf"} http://www.nyc.gov/html/dot/downloads/pdf/commercial-bicyclist-safety-course.pdf
%p &nbsp;
%p If you have any questions, please feel free to respond back to this e-mail directly.
%p &nbsp;
%p Thanks a bunch, and welcome to the BK Shift team!
%br/

= render 'mailer/signature'