- provide(:title, 'Manual')
%h1 Manual
%p Databases can be hard to use! This is where you will soon find a list of common workflows, guides on how to execute them, and a form for submitting questions you'd like ansered.