%h3 Assignment Details
%ul
  %li
    %strong Shift:
    = render 'assignments/shift_include', shift: @assignment.shift
  %li
    %strong Assigned to:
    = link_to assignment.rider.contact.name, assignment.rider
  %li
    %strong Status:
    = assignment.status.text
%p.center
  = link_to 'Edit', paths[:edit_assignment].call(@assignment.shift, @assignment)