%h3 Assignment Details
%ul
  %li
    = render 'assignments/shift_include', shift: @assignment.shift
  %li
    %strong Assigned to:
    = assignment.rider.contact.name
  %li
    %strong Status:
    = assignment.status.text
%p.center
  = link_to 'Edit', paths[:edit_assignment].call(@assignment.shift, @assignment)