- if @assignment.rider.nil?
  - rider = '--'  
- else
  - rider = link_to @assignment.rider.contact.name, @assignment.rider

%h3 Assignment Details
%ul
  %li
    %strong Shift:
    = render 'assignments/shift_include', shift: @assignment.shift
  %li
    %strong Assigned to:
    = rider
  %li
    %strong Status:
    = @assignment.status.text
%p.center
  = link_to 'Edit', paths[:edit_assignment].call(@assignment.shift, @assignment)