- if @assignment.rider.nil?
  - rider = '--'  
- else
  - rider = link_to @assignment.rider.contact.name, @assignment.rider

%h3 Assignment Details

.center
  %strong
    Shift:
.shift_box
  = render 'assignments/shift_include', shift: @assignment.shift

.center
  %strong 
    Assigned to: 
  = rider
  %br/
  %strong 
    Status: 
  = @assignment.status.text
%br/

%p.center
  = link_to 'Edit', edit_path(assignment, :assignments), class: "btn btn-primary"