%h3 Assignment Details
%ul
  %li
    = render 'assignments/shift_include', shift: @shift
  %li
    %strong Assigned to:
    = assignment.rider.account.contact.name
  %li
    %strong Status:
    = assignment.status.text
.center
  = link_to 'Edit', edit_assignment_path(assignment)
  