%h3 Assignment Details
%ul
  %li
    = render 'assignments/shift_include', shift: @shift
  %li
    %strong Assigned to:
    = assignment.rider.account.contact.name
  %li
    %strong Status:
    = assignment.status.text

- case caller
- when :restaurant
  - edit_path = edit_restaurant_shift_assignment_path(assignment.shift.restaurant, assignment.shift, assignment)
- when :rider
  - edit_path = edit_rider_shift_assignment_path(assignment.rider, assignment.shift, assignment)
- when nil
  - edith_path = edit_shift_assignment_path(assignment.shift, assignment)
.center
  = link_to 'Edit', edit_path
  