- a = assignment

%p.shift_box
  = render 'assignments/shift_include', shift: a.shift
%p.shift_box
  = render 'assignments/assignment_include', assignment: a
.center
  %strong
    DOUBLE BOOKS WITH:
%p.shift_box
  = render 'assignments/double_bookings_include', double_bookings: a.double_bookings
%p.center
  %strong
    Do you want to assign it anyway?
