- double_bookings.each do |double_booking|
  = render 'assignments/shift_include', shift: double_booking
  %br/

/ - @other_shifts.each do |other_shift|
/   = render 'assignments/shift_include', shift: other_shift
/   %br/