- provide(:title, 'Batch Assign Shifts')

- header = 'Batch Assign Shifts'
- action = '/assignment/batch_edit'
- fields = '/assignments/batch_fields'

= render 'shifts/batch_edit_form', header: header, action: action, fields: fields