- provide(:title, 'Edit Shift Assignment')
%h1 Edit Shift Assignment
.row
  .span6.offset3
    %p
    = form_for @form_args do |f|
      = render 'shared/error_messages', object: f.object
      = render 'assignments/fields', f: f, caller: @caller, shift: @shift
      .center
        = f.submit "Save changes", class: "btn btn-primary"
