- provide(:title, 'Double Booking Alert')
%h1 Double Booking Alert
.row
  .span6.offset3
    %p
      You tried to assign the following shift:
    %p.indent
      = render 'assignments/shift_include', shift: @assignment.shift
    %p 
      to 
      %strong 
        #{@assignment.rider.contact.name},
      which would double book them with the following shift(s):
    %p.indent
      = render 'assignments/double_bookings_include', conflicts: @conflicts
    %br/
    %p.center
      %strong
        Do you want to assign it to them anyway? 
    = render 'assignments/override_form'
