%h3 Skills
%ul 
  %li 
    %strong Bike Repair: 
    = skill_set.bike_repair? ? 'Yes' : 'No'
  %li 
    %strong Fix Flats: 
    = skill_set.fix_flats? ? 'Yes' : 'No'
  %li 
    %strong Early Morning: 
    = skill_set.early_morning? ? 'Yes' : 'No'
  %li 
    %strong Pizza: 
    = skill_set.pizza? ? 'Yes' : 'No'