%h3 Skills
%ul 
  %li 
    %strong Bike Repair: 
    = @skills.bike_repair? ? 'Yes' : 'No'
  %li 
    %strong Fix Flats: 
    = @skills.fix_flats? ? 'Yes' : 'No'
  %li 
    %strong Early Morning: 
    = @skills.early_morning? ? 'Yes' : 'No'
  %li 
    %strong Pizza: 
    = @skills.pizza? ? 'Yes' : 'No'