- #input: it, f

:javascript

  $(document).ready(function(){

    var dropdown = "#{ escape_javascript( render 'managers/dropdown' ) }" 
      , fields = "#{ escape_javascript( render 'managers/fields_in_new_restaurant', it: it, f: f ) }"

    $('#choose_existing_manager').change(function(){
      if ($(this).prop('checked')){
        $('#manager_fields').empty()
        $('#manager_fields').append(dropdown)
      }
      else{
        $('#manager_fields').empty()
        $('#manager_fields').append(fields)
      }
    })
  })