.profile
  %h3 Restaurants: 
  - it.restaurants.each do |restaurant|
    %li.center= link_to restaurant.name, restaurant
  - if params[:action] == 'new'
    = render 'accounts/fields', f: f
    = hidden_field_tag :restaurant_id, it.restaurants.first.id
  = render 'contacts/fields', f: f
