- provide(:title, 'Edit Manager')
%h1 Edit Manager
.row
  .span6.offset3
    = form_for [@restaurant, @manager] do |f|
      = render 'shared/error_messages', object: f.object
      = render 'managers/fields', f: f, it: @it
      .center
        = f.submit "Save Changes", class: "btn btn-primary"