- def header str, sort_key
  - if @teaser
    - str
  - else 
    - sortable sort_key, str

.row.header
  /Restaurant
  - unless @caller == :restaurant
    .span2
      = header 'Restaurant', 'mini_contacts.name'
  /Time
  .span3
    = header 'Time', 'start'
  /Rider
  - unless @caller == :rider
    .span2
      = header 'Assigned to', 'contacts.name'
  /Status
  .span2
    = header 'Status', 'assignments.status'