.row.header
  /Restaurant
  - unless caller == :restaurant
    .span2
      - if teaser
        Restaurant
      - else
        = sortable 'mini_contacts.name', 'Restaurant'
  /Time
  .span3
    - if teaser
      Time
    - else
      = sortable 'start', 'Time'
  /Rider
  - unless caller == :rider
    .span2
      - if teaser
        Assigned to
      - else
        = sortable 'contacts.name', 'Assigned to'
  /Status
  .span2
    - if teaser
      Status
    - else
      = sortable 'assignments.status', 'Status'