- if shift.assigned?
  - unless caller == :rider
    .span2 
      = shift.assignment.rider.contact.name
  .span2
    = shift.assignment.status.text
- else 
  - unless caller == :rider
    .span2
      \--
  .span2
    \--
