.row.header
  - unless caller == :restaurant
    .span2
      = sortable 'mini_contacts.name', 'Restaurant'
  .span3
    = sortable 'start', 'Time'
  - unless caller == :rider
    .span2
      = sortable 'contacts.name', 'Assigned to'
  .span2
    = sortable 'assignments.status', 'Status'