- if shift.assigned?
  - unless caller == :rider
    .span2 
      = link_to shift.assignment.rider.contact.name, shift.assignment.rider
  .span2
    = shift.assignment.status.text
- else 
  - unless caller == :rider
    .span2
      \--
  .span2
    \--
