- if shift.assigned?
  - if caller != 'rider'
    .span2 
      = shift.assignment.rider.account.contact.name
  .span2
    = shift.assignment.status.text
- else 
  - if caller != 'rider'
    .span2
      \--
  .span2
    \--
