- case caller
- when :restaurant
  %h3 Shifts
- when :rider
  %h3 Assignments
.row
  .span8.offset1
    = render 'shifts/tables/wrapper'
%p.center
  - if caller == :restaurant
    = link_to 'See full list of shifts', index_path(:shifts)
    - if can? :create, Shift
      |
      = link_to 'Create shift', new_restaurant_shift_path(@restaurant)
  - if caller == :rider
    = link_to 'See full list of assignments', paths[:index]