/ - if !shifts.first.nil?
/   - raise "#{shifts.first.restaurant_id}"
.table
  = render 'shifts/tables/row_header', caller: caller
  - shifts.each do |shift|
    = render 'shifts/tables/row', shift: shift, caller: caller