- case caller
- when :restaurant
  %p.center
    = link_to 'See all shifts', paths[:index]
    |
    = link_to 'Create shift', paths[:new_shift] 
- when :rider
  %p.center
    = link_to 'See all shifts', paths[:index]
- when nil
  %p.center
    = link_to 'Create shift', paths[:new_shift]