- provide(:title, 'Batch Edit Shifts')

/ - raise @shifts.inspect

%h1 Batch Edit Shifts
.span8.offset2
  = form_tag 'batch_edit_shifts', method: :post do
    - @shifts.each_with_index.map do |shift, i|
      .profile
        %h3 Shift #{i+1}
        = render 'batch_shift_fields', shift: shift
    %p.center
      = submit_tag 'Save changes', class: 'btn btn-primary'
