- provide(:title, 'Batch Edit Shifts')

- header = 'Batch Edit Shifts'
- action = 'batch_edit_shifts'
- fields = 'batch_shift_fields'

= render 'batch_edit_form', header: header, action: action, fields: fields