- provide(:title, 'Batch Assign Shifts')

- header = 'Batch Assign Shifts'
- action = 'batch_edit_assignments'
- fields = 'batch_assignment_fields'

= render 'batch_edit_form', header: header, action: action, fields: fields