- provide(:title, 'Create Shift')
%h1 Create Shift
.row
  .span6.offset3
    = form_for(@form_args) do |f|
      = render 'shift_fields', f: f, caller: @caller
      .center
        = f.submit "Create shift", method: :get, class: "btn btn-primary"
