%h3 Rating
%ul 
  %li 
    %strong Points: 
    = rider_rating.points
  %li 
    %strong Reliability: 
    = rider_rating.reliability
  %li  
    %strong Likeability: 
    = rider_rating.likeability
  %li  
    %strong Speed: 
    = rider_rating.speed 