%h3 Rating
%ul 
  %li 
    %strong Points: 
    = @rating.points
  %li 
    %strong Reliability: 
    = @rating.reliability
  %li  
    %strong Likeability: 
    = @rating.likeability
  %li  
    %strong Speed: 
    = @rating.speed 