%h3 Qualifications
%ul 
  %li 
    %strong Hiring Assessment: 
    = @qualifications.hiring_assessment
  %li 
    %strong Experience: 
    = @qualifications.experience
  %li 
    %strong Geography: 
    = @qualifications.geography
  