%h3 Qualifications
%ul 
  %li 
    %strong Hiring Assessment: 
    = qualification_set.hiring_assessment
  %li 
    %strong Experience: 
    = qualification_set.experience
  %li 
    %strong Geography: 
    = qualification_set.geography
  