.profile
  %li
    %h2
      = gravatar_for staffer.user_info.contact_info, size: 40
      = link_to staffer.user_info.contact_info.name, staffer
      %br
      = staffer.user_info.contact_info.title