- provide(:title, 'BK Shift Staff')
.row
  .span8.offset2
    %h1 BK Shift Staff
    %section
      %ul.staff
        = render @staffers
    .edit 
      = link_to 'Create new staffer', new_staffer_path