- provide(:title, 'Create Staffer')
%h1 Create Staffer
.row
  .span6.offset3
    = form_for(@staffer) do |f|
      = render 'shared/error_messages', object: f.object
      = render 'accounts/fields', f: f
      .center
        = f.submit "Create Staffer", class: "btn btn-large btn-primary"      