- provide(:title, 'Create Staffer')
%h1 Create Staffer
.row
  .span6.offset3
    = form_for(@staffer) do |form|
      = render 'shared/error_messages', object: form.object
      = render 'shared/contact_info_fields', form: form, object: form.object
      = form.submit "Create staffer", class: "btn btn-large btn-primary"      