%h3 Agency Compensation
%ul
  %li
    %strong Payment Method:
    = agency_payment_info.method.text
  %li
    %strong Collection:
    = agency_payment_info.pickup_required? ? 'Pickup required' : 'No pickup required'