%h3 Rider Compensation
%ul
  %li
    %strong Payment Method
    = rider_payment_info.method.text
  %li
    %strong Pay Rate
    = rider_payment_info.rate
  %li
    %strong Shift Meal?:
    = rider_payment_info.shift_meal? ? 'Yes' : 'No'
  %li
    %strong Tips Cashed Out?:
    = rider_payment_info.cash_out_tips? ? 'Yes' : 'No'