@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin header_row {
  text-align: center;
  font-weight: bold;
  border-top: 1px solid $grayLight;
  border-bottom: 1px solid $grayLight !important;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: .5em;
}

@mixin sortable{
  .current {
    padding-right: 1.3em;
    background-repeat: no-repeat;
    background-position: right center;
  }
  .asc {
    background-image: image-url("up_arrow.png"); 
  }
  .desc {
    background-image: image-url("down_arrow.png") ;
  }
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.indent{
  margin-left: 2em;
}

/* miscelaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.grid_debug {
  position: absolute;
  z-index: -1;
  bottom: 2%;
  left: 1%;
  width: 98%;
  margin-right: 1%;
}

.debug {
  vertical-align: bottom;
}

.center {
  text-align: center;
  btn {
    display: inline-block;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }  
  small{
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
} 

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.gravatar {
    float: left;
    margin-right: 10px;
  }


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

label {
  font-weight: bold;
}

.checkbox label {
  font-weight: normal;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.datepicker select {
  display: inline-block;
  width: auto;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }

}

/* Microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.content {
  display: block;
}

.timestamp {
  color: $grayLight;
}



/* Debug data */

#debug-data {
  display: inline-block;
  width: 100%;
}

@mixin grey_h3 {
  h3 {
    text-align: center;
    background-color: lightgrey;
    border-radius: .4em;
    padding: .2em;
  }
}

/* Profile pages */

.hotlinks{
  border-top: 1px solid $grayLighter;
  border-bottom: 1px solid $grayLighter;
  padding: .2em;
}

.profile {
  @include grey_h3;
  .name {
    text-align: left;
    margin-bottom: .3em;
    margin-top: .2em;
  }
  .edit {
    position: relative;
    top: 2em;
    float: right;
  }
  h2 {
    text-align: left;
  }
  li {
    list-style-type: none;   
  }
  .title {
    color: $grayLight;
    text-align: left;
    text-decoration: uppercase;
  }
}

/* Shift display */

.table {
  text-align: center;  
  .header {
    @include header_row;
    @include sortable
  }
  .row{
    border-bottom: 1px solid $grayLighter;
  }
}

.filters {
  margin-top: 1em;
  margin-bottom: 1em;
  // border-bottom: 1px solid $grayLight;
  .header {
    @include header_row;  
  }
  label {
    text-align: center;
  }
  .multi_select{ 
    height: 10em;
  }
}

.header{ 
  @include header_row;
}

.grid { 
  .filters {
    .datepicker{
      label { 
        float: left;
        margin-right: 1em;
        margin-top: .3em;
      }
    }
  }
  table {
    width: 98%;
    border: 1px solid gray;
    position: absolute;
    left: 1%;
    margin-right: 2%;
    margin-bottom: 2%;
    th {
      @include header_row;
      @include sortable;
      border: 1px solid gray;
      a{
        color: black;
      }
    }
    td {
      text-align: center;
      border: 1px solid gray;
    }
    #row_0_col_1{
      background-color: $grayLight
    }
    #row_0_col_2, #row_0_col_3 { 
      background-color: red;
    }
    #row_0_col_4, #row_0_col_5 {
      background-color: orange;
    }
    #row_0_col_6, #row_0_col_7  {
      background-color: yellow;
    }
    #row_0_col_8, #row_0_col_9  {
      background-color: forestgreen;
    }
    #row_0_col_10, #row_0_col_11  {
      background-color: royalblue;
    }
    #row_0_col_12, #row_0_col_13  {
      background-color: blueviolet;
    }
    #row_0_col_14, #row_0_col_15  {
      background-color: violet;
    }
    .time_cell{
      border-bottom: 1px solid gray; 
      background-color: lightgray;
    }
    .record_cell{
    }
    .red{
      background-color: indianred;
    }
    .orange{
      background-color: goldenrod;
    }
    .yellow{
      background-color: khaki;
    }
    .green{
      background-color: lightgreen;
    }
    .gray{
      background-color: gray;
    }
    .black{
      color: white;
      background-color: black;
    }
  }
}