- case @caller
- when :rider
  %h1 New Conflict for #{@rider.contact.name}
- when nil
  %h1 New Conflict
.row
  .span6.offset3
    = form_for @form_args do |f|
      = render 'conflicts/fields', f: f, caller: @caller
      .center
        = f.submit "Create conflict", class: "btn btn-primary"