- case it.class
- when Staffer
  - edit_contact_path_ = edit_staffer_contact_path(it)
  - edit_account_path_ = edit_staffer_account_path(it)
- when Rider
  - edit_contact_path_ = edit_rider_contact_path(it)
  - edit_account_path_ = edit_rider_account_path(it)
- when Manager
  - edit_contact_path_ = edit_manager_contact_path(it)
  - edit_account_path_ = edit_manager_account_path(it)

%li#fat-menu.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    Account
    %b.caret
  %ul.dropdown-menu
    %li= link_to "Homepage", root_path
    %li= link_to "Edit Profile", edit_contact_path_
    %li= link_to "Change Password", edit_account_path_
    %li.divider
    %li= link_to "Sign out", sign_out_path, method: 'delete'