- if request.original_fullpath.include? '/schedule/shift_grid'
  - debug_class = "grid_debug"
- else
  - debug_class = "debug"

#debug-data{ class: debug_class }
  = debug(params)
  \---! Request data:
  %br/
  HTTP Method:
  \#{request.request_method}
