- if toe_consent.nil?
  - date = 'NONE'
  - ip = 'NONE'
- else 
  - date = toe_consent.created_at.strftime("%B %e, %Y")
  - ip = toe_consent.ip

%h3 Terms of Employment Consent
%ul  
  %li
    %strong Date Given: 
    = date
  %li 
    %strong IP Address
    = ip