- provide(:title, 'Confirmation')

%h1= Confirmation
.row
  .span10.offset1
  %p.center
    Thank you for consenting to the terms of employment. A record of the terms has been sent to you at #{@rider.email}